<header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="/">
                <strong><span class="start-color">সঞ্জয়</span> <span class="end-color">রায়</span></strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/en">হোম পেজ
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="nbdInvolve" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                আমি কে?
                            </a>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="nbdInvolve">
                                <a class="dropdown-item" href="/about.html">আমার সম্পর্কে</a>
                                <a class="dropdown-item" href="https://karmayoga.wara.in/">আমার দর্শন</a>
                                <a class="dropdown-item" href="/bn/index.html#contact">আমার সাথে যোগাযোগ করুন</a>
                                <div class="dropdown-divider"></div>
                                {% for link in site.data.socials %}
                                <a class="dropdown-item" href="{{ link.url }}">{{ link.bntext }}</a>
                                {% endfor %}
                            </div>
                        </li>
    
                    {% for topic in site.data.topics %}
                    {% assign ends = topic.name | slice: -3, 3 %} 
                    {% if ends == '-bn' %}           
                    <li class="nav-item">
                        <a class="nav-link" href="{{ topic.desturl }}">{{ topic.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}    
                </ul>
            </div>
        </nav>
    </header>