<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="/">
            <strong><span class="start-color">SANJOY</span> <span class="end-color">ROY</span></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/en">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="nbdInvolve" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="nbdInvolve">
                            <a class="dropdown-item" href="/about.html">About Me</a>
                            <a class="dropdown-item" href="https://karmayoga.wara.in/">My Philosophy</a>
                            <a class="dropdown-item" href="/en/index.html#contact">Contact Me</a>
                            <div class="dropdown-divider"></div>
                            {% for link in site.data.socials %}
                            <a class="dropdown-item" href="{{ link.url }}">{{ link.entext }}</a>
                            {% endfor %}
                        </div>
                    </li>

                {% for topic in site.data.topics %}
                {% assign ends = topic.name | slice: -3, 3 %} 
                {% if ends != '-bn' %}    
                <li class="nav-item">
                    <a class="nav-link" href="{{ topic.desturl }}">{{ topic.title }}</a>
                </li>
                {% endif %}
                {% endfor %}    
            </ul>
        </div>
    </nav>
</header>