<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Initiatives</h5>
                    <nav>
                        <ul>
                        <li>
                            <a href="/en/initiatives">Core Work Areas</a>
                        </li>
                         <li>
                            <a href="/en/initiatives/wkcs.html">IT Consultancy</a>
                        </li>
                        <li>
                            <a href="/en/initiatives/wkhs.html">Healthcare</a>
                        </li>
                        <li>
                            <a href="/en/initiatives/wkts.html">Tourism</a>
                        </li>
                        <li>
                            <a href="/en/initiatives/wkes.html">Education</a>
                        </li>                         
                        <li>
                            <a href="/en/initiatives/vanaprastha.html">Vanaprastha Ashram</a>
                        </li>
                        <li>
                            <a href="/en/initiatives/current.html">Current Projects</a>
                        </li>
                        <li>
                            <a href="/en/initiatives/past.html">Past Projects</a>
                        </li>                     
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Involve</h5>
                    <nav>
                        <ul>
                         <li>
                            <a href="/en/about/">About Us</a>
                        </li>
                        <li>
                        <a href="/en/about/contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="/en/about/donation.html">Donation</a>
                    </li>
                    <li>
                        <a href="/en/about/membership.html">Membership</a>
                    </li>
                    <li>
                        <a href="/en/about/partners.html">Partners</a>
                    </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Communications</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="/en/communication">Blog</a>
                            </li>
                            <li>
                                <a href="/en/communication/newspaper.html">Newspaper</a>
                            </li>
                            <li>
                                <a href="/en/communication/newsletter.html">Newsletter</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Stay Connected</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/wkarmayoga/" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/wkarmayoga/" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <hr>

        <div class="copyright">
            Wara KarmaYoga Foundation (<b>W</b>ork <b>A</b>bandoning <b>R</b>eward and <b>A</b>ttachment practicing <b>KarmaYoga</b>). Visit <a href="/bn/">BANGLA VERSION here!</a>
        </div>
    </div>
</footer>
