<footer class="footer footer-big footer-color-black" data-color="black">
<div class="container">

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <div class="info">
                <h5 class="title">কর্মযোগ</h5>
                <nav>
                    <ul>
                      <li>
                            <a href="/bn/initiatives">আমাদের কর্মক্ষেত্র</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkcs.html">টেকনোলজি সার্ভিস</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkhs.html">স্বাস্থ্য সার্ভিস</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkts.html">টুরিজম সার্ভিস</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkes.html">শিক্ষা সার্ভিস</a>
                        </li>                        
                        <li>
                            <a href="/bn/initiatives/vanaprastha.html">বাণপ্রস্থ আশ্রম</a>
                        </li>
                         <li>
                            <a href="/bn/initiatives/current.html">বর্তমান প্রজেক্ট</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/past.html">অতীত প্রজেক্ট</a>
                        </li>
                       </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1 col-sm-3">
            <div class="info">
                <h5 class="title"> যোগ দিন</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="/bn/about/">আমাদের কথা</a>
                        </li>

                        <li>
                            <a href="/bn/about/contact.html">যোগাযোগের উপায়</a>
                        </li>
                        <li>
                            <a href="/bn/about/donation.html">ডোনেশান</a>
                        </li>
                        <li>
                            <a href="/bn/about/membership.html">মেম্বারশিপ</a>
                        </li>
                        <li>
                            <a href="/bn/about/partners.html">আমাদের পার্টনার</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-3 col-sm-3">
            <div class="info">
                <h5 class="title">প্রচার</h5>
                <nav>
                    <ul>
                          <li>
                            <a href="/bn/communication">ব্লগ</a>
                        </li>
                        <li>
                            <a href="/bn/communication/newspaper">সংবাদপত্র</a>
                        </li>
                        <li>
                            <a href="/bn/communication/newsletter">নিউজলেটার</a>
                        </li>

                        </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-2 col-md-offset-1 col-sm-3">
            <div class="info">
                <h5 class="title">সঙ্গে থাকুন</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/wkarmayoga/" class="btn btn-social btn-facebook btn-simple">
                                <i class="fa fa-facebook-square"></i> ফেসবুক
                            </a>
                        </li>
                            <li>
                            <a href="https://twitter.com/wkarmayoga/" class="btn btn-social btn-twitter btn-simple">
                                <i class="fa fa-twitter"></i> টুইটার
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <hr>

    <div class="copyright">
            Wara KarmaYoga Foundation (<b>W</b>ork <b>A</b>bandoning <b>R</b>eward and <b>A</b>ttachment practicing <b>KarmaYoga</b>). Visit <a href="/en/">ENGLISH VERSION here!</a>
    </div>
</div>
</footer>
