<header id="header">
    <a href="/" class="logo"><strong>{{ site.title_bn}}</strong> প্রযুক্তিবিদ এবং উদ্যোক্তা</a>
    <ul class="icons">
        <li><a href="https://twitter.com/sanjoyr/" class="icon fa-twitter"><span class="label">টুইটার</span></a></li>
        <li><a href="https://www.facebook.com/sudurerpiyasi/" class="icon fa-facebook"><span class="label">ফেসবুক</span></a></li>
        <li><a href="https://plus.google.com/+SanjoyRoyIT" class="icon fa-google-plus"><span class="label">গুগল প্লাস</span></a></li>
        <li><a href="https://www.instagram.com/sanjoy.roy/" class="icon fa-instagram"><span class="label">ইনস্টাগ্রাম</span></a></li>
        <li><a href="https://in.linkedin.com/in/sanjoyr" class="icon fa-linkedin"><span class="label">লিঙ্কডিন</span></a></li>
    </ul>
</header>