<header id="header">
    <a href="/" class="logo"><strong>{{ site.title}}</strong> Technologist and Entrepreneur</a>
    <ul class="icons">
        <li><a href="https://twitter.com/sanjoyr/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/sudurerpiyasi/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://plus.google.com/+SanjoyRoyIT" class="icon fa-google-plus"><span class="label">Google Plus</span></a></li>
        <li><a href="https://www.instagram.com/sanjoy.roy/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://in.linkedin.com/in/sanjoyr" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
    </ul>
</header>