<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<META name="robots" content="index, follow">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!--[if lte IE 8]><script src="{{base}}/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{{base}}/assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="{{base}}/assets/css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{base}}/assets/css/ie8.css" /><![endif]-->
        
<link rel="apple-touch-icon" sizes="76x76" href="{{base}}/assets/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{base}}/assets/img/favicon.ico">
