<!--   core js files    -->

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="{{base}}/assets/js/skel.min.js"></script>
<script src="{{base}}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{base}}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{base}}/assets/js/main.js"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

{% include google-analytics.html %}