<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>

            <a href="/" class="navbar-brand">কর্মযোগ</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <a href="/bn/"><i class="fa fa-home" aria-hidden="true"></i> হোম</a>
                </li>

                <!-- কর্মযোগ -->
                <li class="dropdown">
                    <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-grav" aria-hidden="true"></i> কর্মযোগ
                    </a>
                    <ul class="dropdown-menu dropdown-danger">
                        <li>
                            <a href="/bn/">পটভূমি</a>
                        </li>
                         <li>
                            <a href="/bn/karmayoga/what.html">কি</a>
                        </li>
                        <li>
                            <a href="/bn/karmayoga/why.html">কেনো</a>
                        </li>
                        <li>
                            <a href="/bn/karmayoga/how.html">কিভাবে</a>
                        </li>
                      </ul>
                </li>

              <!-- Inspirations -->
                <li class="dropdown">
                    <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-recycle" aria-hidden="true"></i> অনুপ্রেরাণা
                    </a>
                    <ul class="dropdown-menu dropdown-danger">
                        <li>
                            <a href="/bn/inspirations/gita.html">শ্রীমদ্ভগবদগীতা</a>
                        </li>
                        <li>
                            <a href="/bn/inspirations/vivekananda.html">কর্মযোগ, স্বামী বিবেকানন্দ</a>
                        </li>
                    </ul>
                </li>                   

                <!-- Initiatives -->
                <li class="dropdown">
                    <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe" aria-hidden="true"></i> উদ্যোগ
                    </a>
                    <ul class="dropdown-menu dropdown-danger">
                      <li>
                            <a href="/bn/initiatives">আমাদের কর্মক্ষেত্র</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkcs.html">টেকনোলজি সার্ভিস</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkhs.html">স্বাস্থ্য সার্ভিস</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkts.html">টুরিজম সার্ভিস</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/wkes.html">শিক্ষা সার্ভিস</a>
                        </li>                        
                        <li>
                            <a href="/bn/initiatives/vanaprastha.html">বাণপ্রস্থ আশ্রম</a>
                        </li>
                         <li>
                            <a href="/bn/initiatives/current.html">বর্তমান প্রজেক্ট</a>
                        </li>
                        <li>
                            <a href="/bn/initiatives/past.html">অতীত প্রজেক্ট</a>
                        </li>
                    </ul>
                </li>                   

                <!-- যোগ দিন -->
                <li class="dropdown">
                    <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-address-book" aria-hidden="true"></i> যোগ দিন
                    </a>
                    <ul class="dropdown-menu dropdown-danger">
                        <li>
                            <a href="/bn/about/">আমাদের কথা</a>
                        </li>

                        <li>
                            <a href="/bn/about/contact.html">যোগাযোগের উপায়</a>
                        </li>
                        <li>
                            <a href="/bn/about/donation.html">ডোনেশান</a>
                        </li>
                        <li>
                            <a href="/bn/about/membership.html">মেম্বারশিপ</a>
                        </li>
                        <li>
                            <a href="/bn/about/partners.html">আমাদের পার্টনার</a>
                        </li>
                    </ul>
                </li>                   
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
