<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="/en">Homepage</a></li>
                    <li><a href="/en/tech/">Technology</a></li>
                    <li><a href="/en/travel/">Travelling</a></li>
                    <li><a href="/en/religious/">Religion</a></li>
                    <li><a href="/en/politics/">Politics</a></li>
                    <li><a href="/en/misc/">Misc Articles</a></li>
                </ul>
            </nav>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>

                <h3>FREE SUPPORT</h3>
                <p>You can contact me for any kind of non-commercial technical support/ issues / ideas. I am happy to help you to find out the solution, this service will be completely free of cost.  Since I have to do something else for survival, it may take few days to reply you!</p>

                <h3>BUSINESS CONSULTATION</h3>
                <p>I am available for paid professional consultation. You can contact me to explore possibilities of partnership of any form.</p>

                <ul class="contact">
                    <li class="fa-envelope-o"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    <li class="fa-home">Kolkata, India</li>
                </ul>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; {{ site.title }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

    </div>
</div>
