<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>মেনু</h2>
                </header>
                <ul>
                    <li><a href="/bn">হোম পেজ</a></li>
                    <li><a href="/bn/tech-bn/">প্রযুক্তি</a></li>
                    <li><a href="/bn/travel-bn/">ভ্রমণ</a></li>
                    <li><a href="/bn/religious-bn/">ধর্ম</a></li>
                    <li><a href="/bn/politics-bn/">রাজনীতি</a></li>
                    <li><a href="/bn/tagore-bn/">রবি ঠাকুরের উক্তি</a></li>
                    <li><a href="/bn/misc-bn/">বিবিধ প্রবন্ধ</a></li>
                </ul>
            </nav>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>যোগাযোগ করুন</h2>
                </header>

                <h3>বিনামূল্যে সহায়তা</h3>
                <p>আপনি যেকোনো অ-বাণিজ্যিক প্রযুক্তিগত সহায়তা / সমস্যা / ধারণার জন্য আমার সাথে যোগাযোগ করতে পারেন। অাপনার সমস্যার সমাধান সম্পূর্ণ বিনামূল্যে করে দিতে পারলে আমি খুব খুশি হবো। তবে যেহেতু আমাকে বেঁচে থাকার জন্য অন্যান্য কাজ করতে হয়, আপনাকে উত্তর দিতে কয়েকদিন সময় লাগতে পারে!
                <h3>ব্যবসাযিক় কনসালটেনশন</h3>
                <p>আমি পেশাদারী পরামর্শ দিয়ে থাকি। আপনি যেকোনো ধরনের অংশীদারিত্বের সম্ভাবনার জন্য আমার সাথে যোগাযোগ করতে পারেন।</p>

                <ul class="contact">
                    <li class="fa-envelope-o"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    <li class="fa-home">কলকাতা, ভারত</li>
                </ul>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; {{ site.title_bn }}. সর্বস্বত্ব সংরক্ষিত. নকশা: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

    </div>
</div>
