{% include base.html %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        {% include head.html %}
        <meta name="description" content="{{ site.aboutus}}">       
    </head>

    <body>

        {% include nav-en.html %}
        {% include banner-en.html %}

        <div class="section">
            <div class="container">
                 <div class="row"> 
                    <div class="title-area">
                        <h2>{{ page.page-caption }}</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description"> Please fill up the following form ...</p>
                        <div class="left-aligned-text">{% include contact-wufoo-en.html %}</div> 
                     </div>
                </div>                         
            </div>
        </div>

        {% include footer-en.html %}
    </body>
    {% include js.html %}
</html>
