{% include base.html %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title_bn }}</title>
        {% include head.html %}
        <meta name="description" content="{{ site.aboutus_bn}}">
        
    </head>
    <body>

        {% include nav-bn.html %}
        {% include banner-bn.html %}

        <div class="section">
            <div class="container">
                 <div class="row"> 
                    <div class="title-area">
                        <h2>{{ page.page-caption }}</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">নীচের ফরমটা পূর্ন করুন ...</p>
                        <div class="left-aligned-text">{% include contact-wufoo-wkf.html %}</div> 
                     </div>
                </div>                         
            </div>
        </div>
        {% include footer-bn.html %}
    </body>
    {% include js.html %}
</html>
