{% include base.html %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title_bn }}</title>
        {% include head.html %}
        <meta name="description" content="{{ site.description_bn}}">      
    </head>

    <body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								{% include header-bn.html %}

							<!-- Banner Latest Article-->
								<section id="banner">									
									{% for post in site.categories[page.category-filter] %}
										<div class="content">
											<header>
												<h1>{{ site.title_bn }}<br /> -এর সর্বশেষ পোস্ট</h1>
												<p>{{ post.title }}</p>
											</header>

											<p>{{ post.excerpt }}</p>

											<ul class="actions">
												<li><a href="{{ post.url }}" class="button big">বিস্তারিত</a></li>
											</ul>
										</div>

										<span class="image object">
											<img src="{{ post.title-image }}" alt="" />
										</span>

										{% break %}
									{% endfor %}
								</section>

							<!-- Section Stared Article-->
								<section>
									<header class="major">
										<h2>বিশেষ পোস্ট</h2>
									</header>

									<div class="features">
										{% assign counter = 0 %}
										{% for post in site.categories[page.category-filter] %}											
											{% if post.tags contains 'star' %}
												{% assign counter = counter | plus: 1 %}

												<article>
													<span class="icon fa-paper-plane"></span>
													<div class="content">
														<h3><a href="{{ post.url }}">{{ post.title | truncate: 25 }}</a></h3>
														<p>{{ post.excerpt }}</p>
													</div>
												</article>
											{% endif %}

											{% if counter >= 4 %}
												{% break %}
											{% endif %}
										{% endfor %}
									</div>
								</section>

							<!-- Section all articles-->
								<section>
									<header class="major">
										<h2>পোস্ট</h2>
									</header>

									<div class="posts">
										{% for post in site.categories[page.category-filter] %}
											<article>
												<a href="{{ post.url }}" class="image"><img src="{{ post.title-image }}" alt="{{ post.title-image-alt }}" /></a>

												<h3>{{ post.title | truncate: 25 }}</h3>
												<p>{{ post.excerpt | truncate: 400 }}</p>

												<ul class="actions">
													<li><a href="{{ post.url }}" class="button">বিস্তারিত</a></li>
												</ul>
											</article>
										{% endfor %}
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
                    {% include sidebar-bn.html %}

			</div>

		<!-- Scripts -->
        {% include js.html %}

    </body>
</html>
