{% include base.html %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title_bn }}</title>
        {% include head.html %}

        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% else %} 
            <meta name="description" content="{{ site.aboutus}}">
        {% endif %} 

    </head>
    <body>

        {% include nav-bn.html %}
        {% include banner-bn.html %}

        <div class="section">
            <div class="container">
                 <div class="row"> 
                    <div class="title-area">
                        <h2>{{ page.page-caption }}</h2>
                        <div class="separator separator-danger">✻</div>
                        <div class="left-aligned-text">{{ content }}</div>
                        <div>
                       {% if page.next.url %}
                            {% if page.categories == page.next.categories %}
                                <h3><a class="next" href="{{page.next.url}}">পরবর্তী: {{page.next.title}}</a></h3>
                            {% endif %} 
                        {% endif %} 
                        </div>
                     </div>
                </div>                         
            </div>
        </div>

        {% include footer-bn.html %}
    </body>
    {% include js.html %}
</html>
